{% extends "layout.html" %}

{% block title %}
Create a Mixtape
{% endblock %}
<!-- Creating Mixtape... TODO: use an if block! -->

{% block main %}
<!-- 'Type a message' : user's input -->
<div id="message-input-container">
  <form onsubmit="event.preventDefault(); onSubmitMessage();">
    <input type=" text" class="form-control" name="message" id="message"
      placeholder="Type a message" required autofocus autocomplete="off">
    <br>
    <br>
    <div class="d-flex justify-content-center">
      <button type="submit"
        class="btn btn-primary btn-lg m-auto">Create</button>
    </div>
  </form>

  <br>

  <!-- Auto-fill text input with sample mixtapes -->
  <div class="d-flex justify-content-center align-items-center flex-wrap">
    Try:&nbsp;
    <button class="btn btn-secondary btn-sm m-1" id="order-mcdonalds"
      title="A playlist by 'surya dantuluri yecombinator.com' on Spotify">
      Order McDonald's
    </button>
    <button class="btn btn-secondary btn-sm m-1" id="outsider"
      title="The Tragedy of Darth Plagueis The Wise">
      It's a Sith legend.
    </button>
    <button class="btn btn-secondary btn-sm m-1" id="constitution"
      title="A playlist by 'meltingneptune' on Spotify">
      Pick a font for your essay
    </button>
  </div>
</div>

<div id="mixtape-container" hidden>
  <!-- Status of mixtape creation -->
  <h1 id="status" class="text-center"
    style="font-size: xxx-large; font-weight: bold; letter-spacing: -0.05em">
    Searching:</h1>

  <!-- Dynamically-updated list of tracks -->
  <div id="tracks-list" class="d-flex flex-wrap align-items-center"></div>
  <br>

  <!-- If successful, puts playlist here -->
  <div class="d-flex justify-content-center" id="upon-complete"></div>
</div>

<!-- Login modal: displayed only if not logged in -->
<div class="modal fade" id="login-modal" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="color: black">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Login with Spotify to make a mixtape!
      </div>
      <div class="modal-footer">
        <button id="login-button" class="btn btn-success"
          onclick="loginWithSpotifyClick();" autofocus>
          Log in with Spotify
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/static/app.js" type="module"></script>

<script>
  const form = document.querySelector("form");
  const messageInput = document.querySelector("input");
  const submitButton = form.querySelector("button");

  // Input values into field when buttons are pressed
  const ORDER_MCDONALDS = "Hello can I get a Big Mac, no pickles, extra ketchup... uhh... medium french fries and also one extra large Sprite. That will be all. Thanks!";
  const DARTH_PLAGUEIS = "Did you ever hear the tragedy of Darth Plagueis the Wise? I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise...";
  const ESSAY_FONT = "Comic Sans: no, Arial. Wait - Georgia time. Nah nah nah nah nah - why Georgia? What about Times New Roman? Nevermind, back to Georgia. However - I like Courier! Hold up, wait a minute, enough's enough - I have decided I'm going to do Helvetica.";

  document.getElementById("order-mcdonalds").addEventListener("click", event => messageInput.value = ORDER_MCDONALDS);
  document.getElementById("darth-plagueis").addEventListener("click", event => messageInput.value = DARTH_PLAGUEIS);
  document.getElementById("essay-font").addEventListener("click", event => messageInput.value = ESSAY_FONT);

</script>
{% endblock%}