/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Highlighting for tracks in tracks-list */
.track 
{
    color: #4B4B4B;
    text-decoration: none;
    background-color: #F2E39B;
    padding: 1px 5px;
    border-radius: 2px 2px 2px 2px;
}