{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <article class="container">
        <h1>About this site </h1>
        <p>This is <b>Mixtape50</b>, a final project for <a href="https://cs50.harvard.edu/x/">CS50's Introduction to Computer Science</a>.</p>
        <section>
            <h2 class="section-header">Description</h2>
            <p>Mixtape50 takes the a user-given message as input, and returns a playlist of songs whose titles - when put together - form that same message. For example, converting this:</p>
            <p class="mx-5">
                <code>Dear Prudence: I'm so tired. I don't want to spoil the party. When I get home, I'll follow the sun. I'll be back, Rocky Raccoon.</code>
            </p>
            <p>...to this:</p>
            <div id="tracks-list" class="d-flex flex-wrap align-items-center" style="margin: 44px;"><div class="track m-1 px-1">dear prudence</div><div class="track m-1 px-1">im so tired</div><div class="track m-1 px-1">i dont want to spoil the party</div><div class="track m-1 px-1">when i get home</div><div class="track m-1 px-1">ill follow the sun</div><div class="track m-1 px-1">ill be back</div><div class="track m-1 px-1">rocky raccoon</div></div>
            <p>Admittedly, this exmaple is a little contrived.</p>
            <p>Let's break this down:</p>
        </section>
    </article>

    <!-- Script to auto-format section headers -->
    <script>
        var sectionHeaders = document.querySelectorAll(".section-header");
        const kebabCase = string => string
            .replace(/([a-z])([A-Z])/g, "$1-$2")
            .replace(/[\s_]+/g, '-')
            .toLowerCase();
        
        // Add '#' symbol and link to each section header
        sectionHeaders.forEach((sectionHeader, index, parent) => {
            var sectionHeaderId = kebabCase(sectionHeader.textContent);
            sectionHeader.setAttribute("id", sectionHeaderId);
            sectionHeader.style.padding = "20px 0 3px 0";
            sectionHeader.style.borderBottom = "1px solid #CBCACA";
            sectionHeader.style.marginBottom = "1rem";

            var hashIcon = document.createElement("a");
            hashIcon.textContent = (index + 1).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false }) + " ";
            hashIcon.href = "#" + kebabCase(sectionHeader.textContent);
            sectionHeader.prepend(hashIcon);
        })

    </script>
{% endblock%}