{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <article class="container">
        <h1>About this site </h1>
        <p>This is <b>Mixtape50</b>, a final project for <a href="https://cs50.harvard.edu/x/">CS50's Introduction to Computer Science</a>.</p>
        <section>
            <h2 class="section-header">What it does</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </section>
    </article>

    <!-- Script to auto-format section headers -->
    <script>
        var sectionHeaders = document.querySelectorAll(".section-header");
        const kebabCase = string => string
            .replace(/([a-z])([A-Z])/g, "$1-$2")
            .replace(/[\s_]+/g, '-')
            .toLowerCase();
        
        // Add '#' symbol and link to each section header
        sectionHeaders.forEach((sectionHeader, index, parent) => {
            var sectionHeaderId = kebabCase(sectionHeader.textContent);
            sectionHeader.setAttribute("id", sectionHeaderId);
            sectionHeader.style.padding = "20px 0 3px 0";
            sectionHeader.style.borderBottom = "1px solid #CBCACA";
            sectionHeader.style.marginBottom = "1rem";

            var hashIcon = document.createElement("a");
            hashIcon.textContent = (index + 1).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false }) + " ";
            hashIcon.href = "#" + kebabCase(sectionHeader.textContent);
            sectionHeader.prepend(hashIcon);
        })

    </script>
{% endblock%}