{% extends "layout.html" %}

{% block title %}
    Creating Mixtape...
{% endblock %}

{% block main %}
    <div id="tracks-list">
    </div>

    <script>
        var evtSource = new EventSource("/listen");
        var eventList = document.getElementById("tracks-list");
        
        evtSource.onopen = (event) => console.log("Connection requested...");
        evtSource.onmessage = (event) => console.log(event.data);
        evtSource.onerror = (error) => console.error("EventSource failed:", error);

        evtSource.addEventListener("clear", clear);
        evtSource.addEventListener("add", addPrefix);
        evtSource.addEventListener("drop", removePrefix);
        evtSource.addEventListener("lock in", lockIn);

        function clear(event) {
            console.log("clear\n");
            eventList.innerHTML = "";
        }

        function addPrefix(event) {
            // DEBUG:
            console.log("add: " + event.data);

            // First, lock in previous track
            if (eventList.innerHTML != "")
            {
                eventList.lastChild.firstChild.className = "track";
            }

            // Create a span ("newElement")
            // ┌──────────┬──────────┐
            // │ newTrack │ newSpace │
            // └──────────┴──────────┘
            var newElement = document.createElement("span");
            var newTrack = document.createElement("span");
            var newSpace = document.createElement("span");
            newTrack.innerHTML = event.data;
            newSpace.innerHTML = " ";
            newElement.appendChild(newTrack);
            newElement.appendChild(newSpace);
            eventList.appendChild(newElement);
        }

        function removePrefix(event) {
            // DEBUG:
            console.log("drop: " + event.data);

            eventList.removeChild(eventList.lastChild);
        }

        function lockIn(event) {
            // DEBUG:
            console.log("lock in");
            eventList.lastChild.lastChild.remove(); // remove last newSpace
            eventList.lastChild.lastChild.className = "track"; // lock in last track
            evtSource.close(); // close the connection
        }

    </script>
{% endblock%}