{% extends "layout.html" %}

{% block title %}
    Create a Mixtape
{% endblock %}

{% block main %}
    <form method="post">
        <input type="text" class="form-control" name="message" placeholder="Type a message" required autofocus autocomplete="off"></input>
        <br><br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-auto">Create</button>
        </div>
    </form>
    <br>

    <script>
        form = document.querySelector("form");
        form.addEventListener("submit", (event) => window.open("/creating"));
    </script>
{% endblock%}